@page "/concept"
@inject IConceptAdminService _conceptService;


@* <div class="title">
    <h3 >Concept</h3>
</div> *@

@* Băt đầu web *@
<div class="background_view">
    <div class="main_view">
        <div class="button_concept_view">
            <div class="my_button"><a>Add new concept</a></div>
            <div class="my_button"><a>Edit</a></div>
            <div class="my_button"><a>Delete</a></div>
        </div>
        <div class="content_view">
            <div class="list_concept_view">
                <ul>
                    <li><div class="item_selected"><a>1. Thửa đất</a></div></li>
                    <li><div class="item_not_selected"><a>1. Thửa đất</a></div></li>
                    <li><div class="item_not_selected"><a>1. Thửa đất</a></div></li>
                    <li><div class="item_not_selected"><a>1. Thửa đất</a></div></li>
                    <li><div class="item_not_selected"><a>1. Thửa đất</a></div></li>
                </ul>
            </div>
            <div class="content_concept_view">
                <a id="content_of_concept">
                    Thửa đất là phần diện tích đất được giới hạn bởi ranh giới xác định trên thực địa hoặc được mô tả trên hồ sơ.
                </a>
            </div>
            <div class="list_keyphrase_of_concept_view">
                <div class="keyphrase_buttons_view">
                    <div class="search_keyphrase_view">
                        <input placeholder="new keyphrase" />
                    </div>
                    <div class="my_button add_new_keyphrase_button">
                        <a>Add new keyphrase</a>
                    </div>
                </div>
                <div class="list_keyphrase_view">
                    <ul>
                        <li><div class="keyphrase_not_selected"><a>diện tích</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>diện tích</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>diện tích</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>diện tích</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>diện tích</a></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@* Kết thúc web *@

@* <div>
    <Button ButtonStyle="add-button" @onclick="() => {}">
        Add
    </Button>
    <Button ButtonStyle="delete-button" @onclick="() => {}">
        Delete
    </Button>
    <Button ButtonStyle="reset-button" @onclick="() => {}">
        Reset
    </Button>
</div>

<div class="content">
    <div class="left-content">
        <div class="search-container">
            <input type="text" placeholder="Tìm kiếm..." @bind="@searchKeyword" @oninput="HandleSearchInputChange">
        </div>
        <div class="list-concept">        
            @if (concepts != null && concepts.Any() && filterConcepts == null)
            {
                <ol>
                    @foreach (var item in concepts)
                    {
                        <li @onclick="@(()=> ShowDetail(item))" style="cursor: pointer">@item.Name</li>
                    }
                </ol>
            } else if (filterConcepts != null)
            {
                <ol>
                    @foreach (var item in filterConcepts)
                    {
                        <li @onclick="@(()=> ShowDetail(item))" style="cursor: pointer">@item.Name</li>
                    }
                </ol>
            }
            else
            {
                <p>Loading...</p>
            }
        </div>
    </div>
 
    <div class="concept-detail">
        <ShowDetailConcept concept="@conceptDetail"/>
    </div>
</div> *@

@code {
    public List<Concept> concepts;
    public List<Concept> filterConcepts = null;
    public Concept conceptDetail;
    public string searchKeyword = "";
    public bool isSearch = false;

    protected override async Task OnInitializedAsync()
    {
        var data = await _conceptService.GetListConcept();
        concepts = data;
    }

    private void ShowDetail(Concept concept)
    {
        conceptDetail = concept;
    }

    //Tối ưu hóa lại hàm này khi có thời gian 
    private void HandleSearchInputChange(ChangeEventArgs e)
    {
        searchKeyword = e.Value.ToString();
        IEnumerable<Concept> filter = concepts.Where(c => c.Name.Contains(searchKeyword, StringComparison.OrdinalIgnoreCase));
        if (filter != null)
        {
            filterConcepts = filter.ToList();
        } else
        {
            filterConcepts = null;
        }
    }

    private void HandleClick(MouseEventArgs e)
    {
        // Xử lý sự kiện click button tại đây
    }
}
