@page "/keyphrase"
@inject IKeyPhraseAdminService _keyphraseService;
@* 
<div class="title">
    <h3>KeyPhrase</h3>
</div>
 *@

@* Băt đầu web *@
<div class="background_view">
    <div class="main_view">
        <div class="left_view">
            <div class="search_bar_view">
                @*search bar*@
                <div class="search_bar">
                    <div class="text_input_view">
                        <input placeholder="Thanh tìm kiếm..." />
                    </div>
                    <div class="search_btn">
                        <img class="icon" src="assests/icon/search_icon.png" />
                    </div>
                </div>
            </div>
            <div class="list_keyphrase_view">
                @*list keyphrase*@
                <div class="list_keyphrase">
                    <ul>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>1. An_dưỡng</a></div></li>
                        <li><div class="keyphrase_not_selected"><a>99. An_dưỡng</a></div></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right_view">
            <div class="buttons_view">
                @*buttons*@
                <div>
                    <input placeholder="new keyphrase" />
                </div>
                <div class="my_button">
                    <a>Add new keyphrase</a>
                </div>
                <div class="my_button">
                    <a>Delete keyphrase</a>
                </div>
            </div>
            <div class="table_view">
                @*table*@
            </div>
        </div>
    </div>
</div>
@* Kết thúc web *@


@* <div>
    <Button ButtonStyle="add-button" @onclick="() => {}">
        Add
    </Button>
    <Button ButtonStyle="delete-button" @onclick="() => {}">
        Delete
    </Button>
    <Button ButtonStyle="reset-button" @onclick="() => {}">
        Reset
    </Button>
</div>

<div class="content">
    <div class="left-content">
        <div class="search-container">
            <input type="text" placeholder="Tìm kiếm..." @bind="@searchKeyword" @oninput="HandleSearchInputChange">
        </div>
        <div class="list-keyphrase">
            @if (keyPhrases != null && keyPhrases.Any() && filterKeyPhrase == null)
            {
                <ol>
                    @foreach (var item in keyPhrases)
                    {
                        <li @onclick="@(()=> ShowDetail(item.ID))" style="cursor: pointer">@item.Keyphrase</li>
                    }
                </ol>
            } else if (filterKeyPhrase != null){
            <ol>
                @foreach (var item in filterKeyPhrase)
                {
                    <li @onclick="@(()=> ShowDetail(item.ID))" style="cursor: pointer">@item.Keyphrase</li>
                }
            </ol>
            }
            else
            {
                <p>Loading...</p>
            }
        </div>
    </div>

    <div class="keyphrase-detail">
        <KeyPhraseRelateDetail  keyPhrasesRelates="@keyPhraseRelates"/>
    </div>
</div> *@

@code {
    public List<KeyPhrase> keyPhrases;
    public List<KeyPhrase> filterKeyPhrase;
    public List<KeyPhraseRelate> keyPhraseRelates;
    public string searchKeyword = "";

    protected override async Task OnInitializedAsync()
    {
        var data = await _keyphraseService.GetListKeyPhrase();
        keyPhrases = data;
    }

    private async void ShowDetail(int id)
    {
        var data = await _keyphraseService.GetKeyPhraseRelates(id);
        keyPhraseRelates = data;
    }

    private void HandleSearchInputChange(ChangeEventArgs e)
    {
        searchKeyword = e.Value.ToString();
        IEnumerable<KeyPhrase> filter = keyPhrases.Where(c => c.Keyphrase.Contains(searchKeyword, StringComparison.OrdinalIgnoreCase));
        if (filter != null)
        {
            filterKeyPhrase = filter.ToList();
        }
        else
        {
            filterKeyPhrase = null;
        }
    }
}
