@page "/keyphrase"
@inject IKeyPhraseAdminService keyphraseService;
@* 
<div class="title">
    <h3>KeyPhrase</h3>
</div>
 *@

@* Băt đầu web *@
<div class="background_view">
    <div class="main_view">
        <div class="left_view">
            <div class="search_bar_view">
                @*search bar*@
                <div class="search_bar">
                    <div class="text_input_view">
                        <input placeholder="Search keyphrase..." @oninput="SetSearchKeyphrase" />
                    </div>
                    <div class="search_btn" @onclick="SearchKeyphraseFunc">
                        <img class="icon" src="assests/icon/search_icon.png" />
                    </div>
                </div>
            </div>
            <div class="list_keyphrase_view">
                @*list keyphrase*@
                <div class="list_keyphrase">
                    <ul>
                        @if(isLoadingKeyphrase)
                        {
                            <li><a>Loading...</a></li>
                        } else
                        {
                            if (Keyphrases == null || Keyphrases.Count == 0)
                            {
                                <li><a>Empty</a></li>
                            } else
                            {
                                if (isSearching)
                                {
                                    if (FilterKeyPhrase == null || FilterKeyPhrase.Count == 0)
                                    {
                                        <li><a>Empty</a></li>
                                    } else
                                    {
                                        foreach (KeyPhrase k in FilterKeyPhrase)
                                        {
                                            if (SelectedKeyphrase?.ID == k.ID)
                                            {
                                                <li>
                                                    <div class="keyphrase_selected">
                                                        <a>@k.ID. @k.Keyphrase</a>
                                                    </div>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <div class="keyphrase_not_selected"
                                                         onclick="@(() => {ClickKeyphrase(k);})">
                                                        <a>@k.ID. @k.Keyphrase</a>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    }
                                } else
                                {
                                    foreach (KeyPhrase k in Keyphrases)
                                    {
                                        if (SelectedKeyphrase?.ID == k.ID)
                                        {
                                            <li>
                                                <div class="keyphrase_selected">
                                                    <a>@k.ID. @k.Keyphrase</a>
                                                </div>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <div class="keyphrase_not_selected"
                                                     onclick="@(() => {ClickKeyphrase(k);})">
                                                    <a>@k.ID. @k.Keyphrase</a>
                                                </div>
                                            </li>
                                        }
                                    }
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="right_view">
            <div class="buttons_view">
                @*buttons*@
                <div class="input_add_keyphrase_view">
                    <input placeholder="new keyphrase" @oninput="SetNewKeyphrase" />
                </div>
                <div class="my_button">
                    <a>Add new keyphrase</a>
                </div>
                <div class="my_button">
                    <a>Delete keyphrase</a>
                </div>
            </div>
            <div class="table_view">
                @*table*@
                <table>
                    <thead>
                        <tr>
                            <th class="document_column">Document</th>
                            <th class="chapter_column">Chapter</th>
                            <th class="article_column">Article</th>
                            <th class="count_column">Count</th>
                            <th class="action_column"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>QUY ĐỊNH VỀ THU TIỀN THUÊ ĐẤT, THUÊ MẶT NƯỚC</td>
                            <td>Chương 10</td>
                            <td>Điều 100</td>
                            <td>999</td>
                            <td><div class="delete_btn_table"><img class="icon_table" src="assests/icon/trash_480px.png"/></div></td>
                        </tr>
                        <tr>
                            <td>Luật đất đai 2013</td>
                            <td>Chương 6</td>
                            <td>Điều 1</td>
                            <td>1</td>
                            <td><div class="delete_btn_table"><img class="icon_table" src="assests/icon/trash_480px.png" /></div></td>
                        </tr>
                        <tr>
                            <td>Luật đất đai 2013</td>
                            <td>Chương 6</td>
                            <td>Điều 1</td>
                            <td>1</td>
                            <td><div class="delete_btn_table"><img class="icon_table" src="assests/icon/trash_480px.png" /></div></td>
                        </tr>
                        <tr>
                            <td>Luật đất đai 2013</td>
                            <td>Chương 6</td>
                            <td>Điều 1</td>
                            <td>1</td>
                            <td><div class="delete_btn_table"><img class="icon_table" src="assests/icon/trash_480px.png" /></div></td>
                        </tr>
                        <tr>
                            <td>Luật đất đai 2013</td>
                            <td>Chương 6</td>
                            <td>Điều 1</td>
                            <td>1</td>
                            <td><div class="delete_btn_table"><img class="icon_table" src="assests/icon/trash_480px.png" /></div></td>
                        </tr>
                        <tr>
                            <td>Luật đất đai 2013</td>
                            <td>Chương 6</td>
                            <td>Điều 1</td>
                            <td>1</td>
                            <td><div class="delete_btn_table"><img class="icon_table" src="assests/icon/trash_480px.png" /></div></td>
                        </tr>
                        <tr>
                            <td>Luật đất đai 2013</td>
                            <td>Chương 6</td>
                            <td>Điều 1</td>
                            <td>1</td>
                            <td><div class="delete_btn_table"><img class="icon_table" src="assests/icon/trash_480px.png" /></div></td>
                        </tr>
                        <tr>
                            <td>Luật đất đai 2013</td>
                            <td>Chương 6</td>
                            <td>Điều 1</td>
                            <td>1</td>
                            <td><div class="delete_btn_table"><img class="icon_table" src="assests/icon/trash_480px.png" /></div></td>
                        </tr>
                        <tr>
                            <td>Luật đất đai 2013</td>
                            <td>Chương 6</td>
                            <td>Điều 1</td>
                            <td>1</td>
                            <td><div class="delete_btn_table"><img class="icon_table" src="assests/icon/trash_480px.png" /></div></td>
                        </tr>
                        <tr>
                            <td>Luật đất đai 2013</td>
                            <td>Chương 6</td>
                            <td>Điều 1</td>
                            <td>1</td>
                            <td><div class="delete_btn_table"><img class="icon_table" src="assests/icon/trash_480px.png" /></div></td>
                        </tr>
                        <tr>
                            <td>Luật đất đai 2013</td>
                            <td>Chương 6</td>
                            <td>Điều 1</td>
                            <td>1</td>
                            <td><div class="delete_btn_table"><img class="icon_table" src="assests/icon/trash_480px.png" /></div></td>
                        </tr>
                        <tr>
                            <td>Luật đất đai 2013</td>
                            <td>Chương 6</td>
                            <td>Điều 1</td>
                            <td>1</td>
                            <td><div class="delete_btn_table"><img class="icon_table" src="assests/icon/trash_480px.png" /></div></td>
                        </tr>
                        <tr>
                            <td>Luật đất đai 2013</td>
                            <td>Chương 6</td>
                            <td>Điều 1</td>
                            <td>1</td>
                            <td><div class="delete_btn_table"><img class="icon_table" src="assests/icon/trash_480px.png" /></div></td>
                        </tr>
                        <tr>
                            <td>Luật đất đai 2013</td>
                            <td>Chương 6</td>
                            <td>Điều 1</td>
                            <td>1</td>
                            <td><div class="delete_btn_table"><img class="icon_table" src="assests/icon/trash_480px.png" /></div></td>
                        </tr>
                        <tr>
                            <td>Luật đất đai 2013</td>
                            <td>Chương 6</td>
                            <td>Điều 1</td>
                            <td>1</td>
                            <td><div class="delete_btn_table"><img class="icon_table" src="assests/icon/trash_480px.png" /></div></td>
                        </tr>
                        <tr>
                            <td>Luật đất đai 2013</td>
                            <td>Chương 6</td>
                            <td>Điều 1</td>
                            <td>1</td>
                            <td><div class="delete_btn_table"><img class="icon_table" src="assests/icon/trash_480px.png" /></div></td>
                        </tr>
                        <tr>
                            <td>Luật đất đai 2013</td>
                            <td>Chương 6</td>
                            <td>Điều 1</td>
                            <td>1</td>
                            <td><div class="delete_btn_table"><img class="icon_table" src="assests/icon/trash_480px.png" /></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@* Kết thúc web *@


@* <div>
    <Button ButtonStyle="add-button" @onclick="() => {}">
        Add
    </Button>
    <Button ButtonStyle="delete-button" @onclick="() => {}">
        Delete
    </Button>
    <Button ButtonStyle="reset-button" @onclick="() => {}">
        Reset
    </Button>
</div>

<div class="content">
    <div class="left-content">
        <div class="search-container">
            <input type="text" placeholder="Tìm kiếm..." @bind="@searchKeyword" @oninput="HandleSearchInputChange">
        </div>
        <div class="list-keyphrase">
            @if (keyPhrases != null && keyPhrases.Any() && filterKeyPhrase == null)
            {
                <ol>
                    @foreach (var item in keyPhrases)
                    {
                        <li @onclick="@(()=> ShowDetail(item.ID))" style="cursor: pointer">@item.Keyphrase</li>
                    }
                </ol>
            } else if (filterKeyPhrase != null){
            <ol>
                @foreach (var item in filterKeyPhrase)
                {
                    <li @onclick="@(()=> ShowDetail(item.ID))" style="cursor: pointer">@item.Keyphrase</li>
                }
            </ol>
            }
            else
            {
                <p>Loading...</p>
            }
        </div>
    </div>

    <div class="keyphrase-detail">
        <KeyPhraseRelateDetail  keyPhrasesRelates="@keyPhraseRelates"/>
    </div>
</div> *@

@code {
    public Boolean isLoadingKeyphrase = true;
    public Boolean isSearching = false;
    public List<KeyPhrase>? Keyphrases;
    public List<KeyPhrase>? FilterKeyPhrase;
    public List<KeyPhraseRelate>? keyPhraseRelates;
    public string searchKeyword = "";
    public KeyPhrase? SelectedKeyphrase;
    public string SearchKeyphrase = "";
    public string NewKeyphrase = "";

    protected override async Task OnInitializedAsync()
    {
        var data = await keyphraseService.GetListKeyPhrase();
        Keyphrases = data;
        isLoadingKeyphrase = false;
        if (Keyphrases.Count > 0)
        {
            SelectedKeyphrase = Keyphrases[0];
        }
    }

    @*
    private async void ShowDetail(int id)
    {
        var data = await keyphraseService.GetKeyPhraseRelates(id);
        keyPhraseRelates = data;
    }

    private void HandleSearchInputChange(ChangeEventArgs e)
    {
        searchKeyword = e.Value.ToString();
        IEnumerable<KeyPhrase> filter = Keyphrases.Where(c => c.Keyphrase.Contains(searchKeyword, StringComparison.OrdinalIgnoreCase));
        if (filter != null)
        {
            filterKeyPhrase = filter.ToList();
        }
        else
        {
            filterKeyPhrase = null;
        }
    }
    *@

    public void ClickKeyphrase(KeyPhrase k)
    {
        SelectedKeyphrase = k;
        StateHasChanged();
    }

    public void SetSearchKeyphrase(ChangeEventArgs e)
    {
        if (e != null)
        {
            SearchKeyphrase = e.Value?.ToString() ?? "";
        }
    }

    public void SetNewKeyphrase(ChangeEventArgs e)
    {
        if (e != null)
        {
            NewKeyphrase = e.Value?.ToString() ?? "";
        }
    }

    public void SearchKeyphraseFunc()
    {
        if (SearchKeyphrase == "")
        {
            isSearching = false;
            return;
        }
        if (Keyphrases == null) return;

        IEnumerable<KeyPhrase> filter = Keyphrases.Where(c => c.Keyphrase.Contains(SearchKeyphrase, StringComparison.OrdinalIgnoreCase));

        isSearching = true;
        if (filter != null)
        {
            FilterKeyPhrase = filter.ToList();
        }else
        {
            FilterKeyPhrase = null;
        }

        // Re-render method
        StateHasChanged();
    }
}
